@model ProyectoRom.Models.data.Libro

@{
    ViewData["Title"] = "EditarLibros";
}

<h1>EditarLibros</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarLibro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @Html.HiddenFor(l=>l.id_libro)
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group dropdown">
                <label>asignatura</label>
                <br />
                @Html.DropDownListFor(l=>l.asignatura.id_asig,new SelectList(ViewBag.asignaturas,"id_asig","descripcion",Model.asignatura.id_asig))
            </div>
            <br />

            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a href="@Url.Action("ListarLibros", "Libro")" class="btn btn-success">back</a>
</div>
