@model ProyectoRom.Models.data.Asignatura

@{
    ViewData["Title"] = "GuardarAsignatura";
}

<h1>Guardar Asignatura</h1>

<h4>Asignatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GuardarAsignaturas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estado" /> @Html.DisplayNameFor(model => model.estado)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a href="@Url.Action("ListarAsignaturas", "Asignatura")" class="btn btn-success">back</a>
</div>
